*{
    
    box-sizing: border-box;
}
.grid-container{
        font-family: verdana;
        margin: 0 auto;
        grid-column-gap: 50px;
}


header {
    grid-area: header;

    /*margin-left: 50px;
    margin-right: 50px;*/
    padding-top: 150px;
    padding-left: 0.2em;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border: 1px;
    background-color: #f1df93;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: sans; 
    color: #ad8906;
    font-size: 40px;

}

#header-p{
    margin: 0;
}

main{
    grid-area: main;
    /* max-width: 70%; */
    margin-bottom: 20px;}

aside {
    grid-area: aside;
    /* width: 25%; */
}


.art1{
    grid-area: art1;
}
.art2{
    grid-area: art2;
    clear: both;
    
}
.art3{
    grid-area: art3;
    clear: both;
}



.img{  
    float: left;  
    border: 2px solid #c89f04 ;
    border-radius: 8px;
    margin-right: 10px;
    height: 175px;

}


h1{
    
    margin-top: 1em;
    color: #080B74;
    text-align: center;
}

.art-p{
    text-align: justify;
}


.bold{
   font-weight: bolder; 
}


.social{
    
    background-color: #f1df93;
    border: 2px solid #c89f04;
    border-radius: 10px;
    padding-left: 20px;
}

.social-img{
    height: 35px;
    padding-bottom: 10px;

}
.social-img:hover{
    opacity: 50%;
}

.weitere-links{
    background-color:#f1df93 ;
    border: 2px solid #c89f04;
    border-radius: 10px;
    margin-top: 30px;
    padding-left: 20px;
    line-height: 0.2em;
    padding-bottom: 10px;
    padding-right: 5px;
    min-width: 200px;
    
}
#weitere-links-h2{
    padding: 10px 0;
}


.link{
    color: #1018ee;
}
footer{
    grid-area: footer;
    
}

#footer-hr{
    background-color: #c89f04;
    height: 3px;
    border: none;
    
}

#footer-div{
    text-align:center;
}
@media only screen and (max-width: 45em) {
    .grid-container {
        display: grid;
      grid-template-areas: 
        'header header header header header header' 
        'main main main main main main' 
        'aside aside aside aside aside aside' 
        'footer footer footer footer footer footer';
        width: 100%;
        
    }
    main{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media only screen and (min-width: 45em) {
    .grid-container {
        display: grid;
      grid-template-areas: 
        'header header header header header header' 
        'main main main main aside aside' 
        'footer footer footer footer footer footer';
        width: 100%;
        
    }
    main{margin-left: 20px;}
}
@media only screen and (min-width: 60em) {
    .grid-container {
        display: grid;
      grid-template-areas: 
        'header header header header header header' 
        'main main main main aside aside' 
        'footer footer footer footer footer footer';
        max-width: 80em;
        min-width: 55em;
       
    }
    .main-container{
        display: grid;
        grid-template-areas: 
        'art1 art1 art1 art2 art2 art2' 
        'art3 art3 art3 null null null' ;
        grid-gap: 10px;
    }
}


